body {
    background-color: #1b262c;
}

.container {
    background-color: #1b262c;
}

.capture-area {
    background-color: #1b262c;
}

.row {
    margin-bottom: 20px;
}

.title {
    color: white;
}

.container-padding {
    padding-top: 50px;
}

.chara-img {    
    display: block;
}

.chara-img-btn {    
    margin: 10px 5px 10px 5px;
    border: unset;
    background: rgba(0,0,0,0);
    transition-duration: 0.4s;
}

.chara-img-btn:hover {
    background-color: white; /* Green */
    color: white;
}