body {
    background-color: #1b262c;
}

.vert-space-1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.vert-space-2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.title {
    color: white;
}

.card {  
  margin-bottom: 50px;
}

.card-center {
  margin: auto;
  width: 50%;
}

.card-row {
  margin-bottom: 50px;
}

@media (max-width: 1200px) {
  .card {
    margin-bottom: 50px;
  }

  .card-row {
    margin-bottom: 0;
  }
}