body {
    background-color: #161616;
}

main, header {
    padding-left: 20%;
    padding-right: 20%;
}

section:after {
    content: "";
    display: table;
    clear: both;
}

article {
    float: left;
    width: 70%;
    padding-bottom: 30px;
} 

aside {
    margin-left: 75%;
}

.footer {
    width: 60%;
    text-align: center;
}

a, p, span, li, h1, h2, h3, h4, h5, h6 {
    font-size: 20px;
    font-family: 'Epilogue', sans-serif;
    color: #f8f8f8;
}

p {
    font-weight: 100;
    line-height: 1.6;
}

h1 {
    font-size: 80px;
    font-weight: 600;
}

h4 {
    font-weight: 300;
}

li {
    font-weight: 100;
    margin-left: -20px;
    line-height: 1.6;
}

.header-nav, .header-title, footer {
    display: flex;
    justify-content: center;
}

.header-title {
    padding-top: 30px;
    margin-bottom: -50px;
}

.header-nav {
    padding-bottom: 50px;
    text-align: center;
    line-height: 1.6;
}

.header-title h1 {
    color: #c7493a;
    font-size: 100px;
}

.img-avatar {
    max-width: 200px;
    width: 80%;
    height: auto;
}

.article-thumbnail {
    width: 100%;
    height: auto;
}

.article-title {
    font-size: 40px;
    color: #c7493a;
    margin-bottom: -6px;
}

.side-title {
    font-size: 40px;
    color: #c7493a;
    margin-bottom: 5px;
}

@media (max-width: 987px) {
    main, header {
        padding-left: 8%;
        padding-right: 8%;
    }

    article {
        width: 100%;
    }

    aside {
        margin-left: 0;
    }
}