body {
    background-color: #1b262c;
}

hr {
    height: 2px;
    color: white;
    background-color: white;
    border: none;
}

.disable-drag {
    pointer-events: none;
}

.space-1 {
    margin-left: 20px;
}

.space-2 {
    margin-left: 40px;
}

.vert-space-1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.vert-space-2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.container {
    background-color: #1b262c;
}

.input-center {
    text-align: center;
    left: 50%;
    width: 20em;
}

.all-padding {
    background-color: #1b262c;
    padding: 20px 20px 20px 20px;
}

.capture-result {
    display: none;
}

.title {
    color: white;
}

.title-version{
    font-size: 0.4em;
    font-weight: lighter;
}

.title-url {
    font-weight: lighter;
}

.title-ign {
    font-weight: lighter;
    margin-top: 40px;
}

.title-top {
    margin-top: -20px;
    font-weight: lighter;
}

.title-footer {
    font-weight: lighter;
}

.container-padding {
    padding-top: 50px;
}

.chara-img-box{
    position: relative;
}

.chara-img {    
    display: block;
    width: 100%;
    height: 100%;
}

.chara-img-class {    
    position: absolute;
    width: 25%;
    height: 25%;
    top: 75%;
    left: 0;
}

.chara-img-btn {        
    border: unset;
    background: rgba(0,0,0,0);
    transition-duration: 0.4s;
    transition-delay: 0s;
}

.chara-img-btn:hover {
    background-color: white; /* Green */
    color: white;
}

.chara-rarity-title {
    color: white;
    font-size: 2em;
}

.chara-star {
    margin-top: 20px;
    margin-bottom: 20px;
}

.result-box {
    border: 2px solid white;
}

.generate-float-btn{
    background:#007BFF;
    display: block;
    width: 2.5em;
    height: 2.5em;
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-decoration: none;
    transition: ease all 0.3s;
    position: fixed;
    right: 30px;
    bottom:30px;
    z-index: 999;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
    
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
    
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 94, 94);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider-fix {
      margin-left: 46px;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .style-btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;    
    border-style: solid;
    border-color: white;    
  }

  .style-btn-dark {
    color: #1b262c;
    background-color: #1b262c;
  }

  .style-btn-blue {
    color: rgb(10, 71, 71);
    background-color: rgb(10, 71, 71);    
  }

  .style-btn-red {
    color:rgb(97, 22, 22);
    background-color:rgb(97, 22, 22);    
  }

  .server-non-cn{
      display: none;
  }
  
  .modal-content {
      background-color: #1b262c;
  }

  .modal-close {
      color: white;
  }

  .loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .loading-overlay {
    z-index: 998;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
  }

  .lds-dual-ring {
    z-index: 999;
    display: inline-block;
    margin: auto;
    width: 80px;
    height: 80px;
  }
  
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  